.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  img {
    border-radius: 35px;
  }

  .info {
    margin-top: 39px;
    line-height: 28.13px;
    font-size: 22px;
  }
}