.wrapper {
  @apply px-5;
  @apply pt-16;
  @apply text-center;
  @apply text-white;
  @apply text-2xl;
  @apply md:text-4xl;
  @apply lg:p-12; 
  @apply lg:text-6xl;

  .title {
    @apply text-green-400;
    @apply text-3xl;
    @apply mb-10;
    @apply md:text-4xl;
    @apply lg:mb-16;
    @apply lg:text-6xl;
  }

  .results {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply md:grid;

    @screen md {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }

    @screen lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .error {
    @apply text-red-400;
    @apply text-2xl;
    @apply md:text-3xl;
  }
}